$bg-color: #333;
$font-color: #fff;
$primary-color: #4267b2;
$dark-overlay: rgba(0,0,0,.7);
$icon-size: 30px;

body {
  color: $font-color;
  background: $bg-color;
}

nav {
  border-bottom: $primary-color 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url('../img/social.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 80;
    left: 0;
    width: 100%;
    height: 700px;
  }

  .card-form {
    opacity: .8;
  }

  .fa {
    color: $primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }

  .home-inner {
    padding-top: 80px;
  }
}

#explore-body, #share-body {
  .fa {
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#create-body {
  .fa {
    color: $primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}
